@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6{
  @apply font-bold
}

h1{
  @apply text-3xl pb-5 pt-5
}

h2{
  @apply text-2xl pb-4 pt-4
}

h3{
  @apply text-xl
}

h4{
  @apply text-lg
}

button{
  @apply px-5 py-3 bg-zinc-900 text-white font-bold
}

input{
  @apply border px-5 py-3
}